@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.header a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 150px;
    gap: 40px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-img{
    width: 500px;
    height: auto;
}

button{
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
}


.info-container{
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
    gap: 20px;
}

.icons-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    align-items: stretch;
    text-align: center;
    gap: 10px;
}

.icon img{
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}


.quote{
    padding: 200px  350px;
    display: flex;
    flex-direction: column;
}

.quote-signature{
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 50px;
}

.cta-card{
    width: 40%;
    padding: 50px 80px;
    border-radius: 10px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.cta-title{
    font-size: 20px;
}

.cta-text{
    font-size: 16px;
}

.cta-button{
    border: 1px solid #e5e7eb;
}

.footer{
    padding: 50px;
    color: #e5e7eb;
    display: flex;
    place-content: center;
}

/* Main fonts and colors from instructions*/
.hero-section, .footer{
    background-color: #1f2937;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text,
.header a{
    font-size: 18px;
    color: #e5e7eb;
}

.header h1{
    font-size: 24px;
    color: #f9faf8;
}

button,
.cta-card{
    background-color: #3882f6;
}

.info-container h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

/* End of instructed fonts and colors */